apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: __NAMESPACE__

bases:
- private

images:
- name: clair
  newName: __REG__/clair-local-scan:latest
- name: clairdb
  newName: __REG__/clair-db:latest